/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;



.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  
  & .path {
    stroke: hsl(117, 88%, 74%);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
/* Стили для прелоадера */
#preloader {
  position: fixed;
  top: 0; /* Исправлено на 0 для центрирования на весь экран */
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/kfc.png') no-repeat center center;
  background-size: cover; /* Чтобы фоновое изображение покрывало весь экран */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 1s ease-in-out; /* Плавное исчезновение */
  opacity: 1;
}

#preloader .spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid hsl(117, 88%, 74%);
  width: 120px;
  height: 120px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fade-out {
  opacity: 0; /* Плавное исчезновение */
}
